<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySphereLabel" jhiTranslate="socialGameApp.sphere.home.createOrEditLabel">Create or edit a Sphere</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sphere.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sphere.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialGameApp.sphere.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="sphere.nom"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="socialGameApp.sphere.evenement" for="field_evenement">Evenement</label>
            <select class="form-control" id="field_evenement" name="evenement" [(ngModel)]="sphere.evenementId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="evenementOption.id" *ngFor="let evenementOption of evenements; trackBy: trackEvenementById">{{evenementOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="socialGameApp.sphere.administrateur" for="field_administrateur">Administrateur</label>
            <select class="form-control" id="field_administrateur" name="administrateur" [(ngModel)]="sphere.administrateurId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
