<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.event_creation.title}">Fin vote</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.event_creation.greeting(${user.login})}">
            Dear
        </p>
        <p>
            <span th:text="#{email.event_creation.text1(${sphere})}">
                Nouvel event créé
            </span>
            <br/>
            <span th:text="#{email.event_creation.text2}">
                A vos votes
            </span>

        </p>
        <p>

        </p>
        <p>
            <span th:text="#{email.event_creation.text3}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
